@model IEnumerable<debt_fe.Models.Vw_PremierActivity>
@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade modal-message" tabindex="-1" role="dialog" aria-labelledby="modalDetail">
    <div class="modal-dialog" role="document">
        <div class="modal-content no-border-radius">

        </div>
    </div>
</div>
<div class="col-md-12 mt+++">
    <table class="table table-bordered" id="table-documents">
        <thead>
            <tr>
                <th class="col-md-7">Content</th>
                <th class="col-md-3">Date</th>
                <th class="col-md-2">By</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Content</td>
                    <td>@item.updatedDate.Value.ToString("MM/dd/yyyy hh:mm tt")</td>
                    <td>@item.addedName</td>
                </tr>
            }
        </tbody>

    </table>
</div>
<div class="modal-backdrop fade in hidden" id="modal-loading"><div class="loader">Loading...</div></div>

@section scripts{
    <script>
        $(document).ready(function () {

            //
            // init datatable
            //
            $('#table-documents').DataTable({
                "pageLength": 10, // record per page
                "lengthChange": false, // no record per page change
                "info": false, // no entities info
                "order": [[1, "desc"]], // set default sort by column 5 (added date)
                aoColumnDefs: [{ "bSortable": false, "aTargets": [0,2] }] // disable sort in last column
            });

            //
            // add class form-control to datatable search
            $('.dataTables_filter').find('input').addClass('form-control inline');

           

        });
    </script>

    <script>
    $(".menu > li").removeClass("active");
    $('#menu-activity').addClass("active");
    </script>
}