@model IEnumerable<debt_fe.Models.Vw_PremierActivity>
@{
    ViewBag.Title = "Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="modal fade modal-message" tabindex="-1" role="dialog" aria-labelledby="modalDetail">
    <div class="modal-dialog" role="document">
        <div class="modal-content no-border-radius">

        </div>
    </div>
</div>
<div class="col-md-12 mt+++">
    <table class="table table-bordered" id="table-documents">
        <thead>
            <tr>
                <th class="col-md-1">No.</th>
                <th class="col-md-6">Content</th>
                <th class="col-md-3">Date Time</th>
                <th class="col-md-2">By</th>
               
            </tr>
        </thead>
        <tbody>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@(i++)</td>
                    <td>@item.Content</td>
                    <td class="text-center">@item.updatedDate.Value.ToString("MM/dd/yyyy hh:mm tt")</td>
                    <td class="text-center">@item.addedName</td>
                </tr>
            }
        </tbody>

    </table>
</div>
<div class="modal-backdrop fade in hidden" id="modal-loading"><div class="loader">Loading...</div></div>

@section scripts{
    <script>
        $(document).ready(function () {

            //
            // init datatable
            //
            var pageLenght = 10;
            $table =  $('#table-documents').DataTable({
                "pageLength": pageLenght, // record per page
                "lengthChange": false, // no record per page change
                "info": false, // no entities info
                "order": [[2, "desc"]], // set default sort by column 5 (added date)
                aoColumnDefs: [{ "bSortable": false, "aTargets": [0] }] // disable sort in last column
            });
            if ($table.page.info().recordsTotal) {
                var $tableDoc = $('#table-documents');
                onNumberRow($table, pageLenght, $tableDoc);

                $(document).on('click', '.paginate_button, #table-documents thead th', { t: $table, l: pageLenght, d: $tableDoc }, onChangePage);

                $('#table-documents_filter').find('input').keyup(function () {
                    onNumberRow($table, pageLenght, $tableDoc);
                });
            }
           
            
            //
            // add class form-control to datatable search
            $('.dataTables_filter').find('input').addClass('form-control inline');

           

        });
    </script>

    <script>
    $(".menu > li").removeClass("active");
    $('#menu-activity').addClass("active");
    </script>
}