@{
    ViewBag.Title = "How To";
}

<div class="clearfix pt+++">
    <div class="col-md-12">
        1. How to 1, how to 1, , how to 1 , how to 1 <a href="#">View</a>
    </div>
    <div class="col-md-12">
        2. How to 1, how to 1, , how to 1 , how to 1 <a href="#">View</a>
    </div>
    <div class="col-md-12">
        3. How to 1, how to 1, , how to 1 , how to 1 <a href="#">View</a>
    </div>
    <div class="col-md-12">
        4. How to 1, how to 1, , how to 1 , how to 1 <a href="#">View</a>
    </div>
</div>