@{
    ViewBag.Title = "what we do for you";
}
<div>
    <div class="row">
        <video autoplay controls="controls" class="col-md-12">
            <source src="~/Content/Videos/Premier-Docs-v3-01.mp4" type="video/mp4" />
        </video>
    </div>
  
</div>
@section scripts{
<script>
    $(".menu > li").removeClass("active");
    $('#menu-support').addClass("active");
</script>
}