
@{
    ViewBag.Title = "My Account";
}

<div class="col-lg-12 mart50">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Creditor</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>%CreditorName%</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>%CreditorName%</td>
                <td>Inactive</td>
            </tr>
            <tr>
                <td>%CreditorName%</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>
</div>
