
@{
    ViewBag.Title = "Macklock Co-Client";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    body {
        background-color: transparent;
    }
</style>
<div class="row">
    <a href="#" class="text-center display-block p++">
        <img src='@Url.Content("~/Content/images/logo.png")' />
    </a>
    <div class="text-center">
        <iframe src="@ViewBag.IFrameUrl" frameborder="0" width="710" height="735"></iframe>
    </div>
</div>
<footer class="text-center pt+ pb+">© Copyright 2016 Macklock National Credit Inc. All Rights Reserved.</footer>
