@{
    ViewBag.Title = "Macklock Co-Client";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    body {
        background-color: transparent;
    }
</style>
<div class="row">
    <a href="#" class="text-center display-block p++">
        <img src='@Url.Content("~/Content/images/logo.png")' />
    </a>
    <div class="text-center mt++">
        <h3>@ViewBag.Message</h3>
    </div>
</div>
<footer class="text-center navbar-fixed-bottom pb+">© Copyright 2016 Macklock National Credit Inc. All Rights Reserved.</footer>


