<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="modalDocument">New Message</h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("NewMessage", "Message", FormMethod.Post, htmlAttributes: new { @class = "form", id = "reply-message" }))
            {
                <div class="form-group">
                    <label>
                        Subject <span class="validator-sub" style="color:red;"></span>
                    </label>
                    <input type="text" id="subject" name="Subject" value="" class="form-control" />
                </div>
                <hr />
                <div class="form-group">
                    <label>
                        Content <span class="validator-con" style="color:red;"></span>
                    </label>
                    @Html.TextArea("message-content", new { style = "width: 100%;", rows = "8", wrap = "soft", @class = "form-control" })
                </div>
            }


        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary btn-reply-submit">Send</button>
</div>
<script>
    $('.btn-reply-submit').click(function () {
        var strText = $('#message-content').val();
        if (strText.length > 255) {
            $('.validator-con').html("Must be under 255 characters");
            return;
        }
        $('#reply-message').submit()
        ('.validator').html("");
    });
</script>