@main-blue: #3fa4b5;

.border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.transition (@properties: all, @time: 0.5s, @timing: ease-in-out) {
    -moz-transition: @arguments;
    -o-transition: @arguments;
    -webkit-transition: @arguments;
    transition: @arguments;
}

.rotate(@degree: 90deg) {
    -moz-transform: rotate(@degree);
    -ms-transform: rotate(@degree);
    -o-transform: rotate(@degree);
    -webkit-transform: rotate(@degree);
    transform: rotate(@degree);
}

.font-weight (@weight) {
    font-weight: @weight;
}

.no-border-radius {
    .border-radius(0);
}

.font-weight-500 {
    .font-weight(500);
}

[class*=btn] {
    .border-radius(0);
}

.inline {
    display: inline;
    width: auto;
}

input[type=file].form-control {
	height: auto;
}

.valign-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; 
}

.valign-wrapper .valign {
    display: block;
}

//
// login
// 
#form-login {
    // margin-top: 25%;
    border: 1px solid #cecece;
    padding: 8px 16px 32px;
    background-color: #fff;
	& .login-error-summary {
		& ul {
			list-style: none;
			padding: 0;
			margin: 0;
			& li {
				background-color: #f2dede;
				color: #a94442;
				padding: 8px 16px;
			}
		}		
	}
}

//
// datatable paginate
//
.dataTables_paginate {
    & > a {
        padding: 8px;
        display: inline-block;
        cursor: pointer;
        &:hover {
            background: rgb(39, 178, 188) none repeat scroll 0% 0%;
            color: rgb(255, 255, 255);
        }
    }
    & > span {
        & > a {
            padding: 8px 16px;
            display: inline-block;
            cursor: pointer;
            &.current {
                background: rgb(39, 178, 188) none repeat scroll 0% 0%;
                color: rgb(255, 255, 255);
            }
        }        
    }
}

.modal-content {
    & iframe {
        width: 100%;
        height: 732px;
        display: block;
        margin: auto;
    }
}

#modal-loading {
    z-index: 1045;
}

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    -moz-animation: load1 1s infinite ease-in-out;
    -o-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    -moz-animation-delay: -0.32s;
    -o-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    -moz-animation-delay: -0.16s;
    -o-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}
@-moz-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ffffff;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em #ffffff;
    height: 5em;
  }
}


//
// custom theme
//
.blueBackground {
    background-color: @main-blue !important;
}

@menu-link-color: #27b2bc;
.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
        margin: 0;
        // padding: 20px 0;
        border-bottom: 1px solid #eee;
        position: relative;
        &.active:not(.has-sub) {
            & > a {
                background-color: @main-blue;
                color: #fff;   
            }
            & .sub-menu {
                display: block;
            }
        }
        & > a {
            & span {
                .transition(@properties: transform);
            }
            &.active {
                & span.pull-right {
                    .rotate(90deg);
                }
            }
        }
        & .sub-menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: none;
            & li {
                &:first-child {
                    border-bottom: 1px solid #eee;
                    border-top: 1px solid #eee;
                }
                & a {
                    padding-left:16px;
                }
            }
        }
    }

    & a {
        display: block;
        padding: 20px 8px;
        text-transform: uppercase;
        font-family:calibri, Arial, Helvetica, sans-seri; 
        font-size:18px;
        color: #808080;
        // padding-left: 8px;
        text-decoration: none;
        &:hover {
            // color: @menu-link-color;
            background-color: @main-blue;
            color: #fff;            
        }
        & i, & span {
            // font-size: 8px;
        }
    }
}

label {
    &.label-bold {
        font-weight: bold;
    }
}