<link href="~/Content/extensions/bootstrapValidator.css" rel="stylesheet" />
@using (Html.BeginForm("SignatureSendToCoClient", "Document", FormMethod.Post, htmlAttributes: new { @class = "form"}))
    {
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalDocument">Send to your Co-Client</h4>
    </div>
    <div class="modal-body">
        @Html.Hidden("docId", (int)ViewBag.docId)
        <div class="form-group">
            <label class="control-label">Please enter the email address of Co-Client</label>
                @Html.TextBox("coclientemail", (string)ViewBag.email, new { @class = "form-control", maxlength = "50" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Send</button>
    </div>

}
<script src="~/Scripts/jquery-1.11.3.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script>
    $('button').click(function () {
        $('button').disabled;
    });
</script>


