<ul class="menu">
    <li><a href='#'><span class="glyphicon glyphicon-user"></span> messages</a></li>
    <li class="has-sub">
        <a href='#'><span class="glyphicon glyphicon-credit-card"></span> my profile <span class="glyphicon glyphicon-menu-right pull-right"></span></a>
        <ul class="sub-menu">
            <li><a href="#"><span class="glyphicon glyphicon-menu-right"></span> bank account</a></li>
            <li><a href='@Url.Action("ContactInformation","Profile")'><span class="glyphicon glyphicon-menu-right"></span> contact information</a></li>
        </ul>
    </li>
    <li class="active"><a href='@Url.Action("Index","Document")'><span class="glyphicon glyphicon-file"></span> my documents</a></li>
    <li><a href='#'><span class="glyphicon glyphicon-usd"></span> my debts</a></li>
    <li><a href='#'><span class="glyphicon glyphicon-briefcase"></span> what we do for you</a></li>
    <li><a href='#'><span class="glyphicon glyphicon-question-sign"></span> how to</a></li>
</ul>
