<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-debt-fe-20150703094704.mdf;Initial Catalog=aspnet-debt-fe-20150703094704;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PremierEntities" connectionString="metadata=res://*/Models.PremierModels.csdl|res://*/Models.PremierModels.ssdl|res://*/Models.PremierModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.97;initial catalog=ROI;user id=sa;password=sa107;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Premier" connectionString="data source=192.168.100.97;initial catalog=ROI;user id=sa;password=sa107;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ConnectionString" value="Data Source=192.168.100.97;Initial Catalog=ROI;Persist Security Info=True; User ID=tbone; Pwd=tbone" />
    <add key="Dealers" value="trang2008, debt" />
    <add key="UploadFolder" value="\\192.168.100.33\Websites\Files_ROI\" />
    <add key="RightSignatureApiKey" value="NSh6yGRgDmDBfmTjTjRrS8UQM1GeKtxvjYoa3XpT" />
    <add key="Url_RightSignature" value="https://rightsignature.com/signatures/embedded" />
    <add key="rightsignature_authType" value="securetoken" />
    <add key="rightsignature_callback_url" value="http://vn2.valuecomusa.com/premierrs/api/document/callback/" />
    <add key="rightsignature_baseUrl" value="https://rightsignature.com" />
    <add key="TeamplateISN_CreateLead" value="4,5" />
    <add key="UsernameSMS" value="dealer3" />
    <add key="PasswordSMS" value="dealer3" />
    <add key="EmailSMS" value="" />
    <add key="useAuthenticationSMS" value="true" />
    <add key="MasterCode" value="123456" />
    <add key="BaseUrlChat" value="http://192.168.20.51:8008" />
    <add key="SaveFilesDir" value="\\192.168.100.33\Websites\Files_ROI" />
    <add key="DealerISN" value="39543" />
    
    <!--EmailService Config-->
    <!-- MAIL SERVER -->
    <!--<add key="MailFrom" value="noreply@trackmyroi.com" />
    <add key="MailServer" value="173.254.193.228" />
    <add key="MailSubject" value="Subject Test Admin" />-->

    <add key="MailFrom" value="info@macklock.net" />
    <add key="MailServer" value="secure.emailsrvr.com" />
    <add key="MailSubject" value="Subject Test Admin" />
    <add key="MailPassword" value="4875Macklock" />

    <add key="PhoneDealer" value="9493978095" />
    <add key="PhoneAPI_AppKey" value="64e53b59" />
    <add key="PhoneAPI_AppPass" value="33a8e965" />
    <add key="PhoneAPI_Url" value="https://rest.nexmo.com/sms/json" />
    <add key="PhoneAPI_UrlCallback" value="http://vn2.valuecomusa.com/premier_smsapi/api/SMS" />

    <add key="TwoFactorEnabled" value="False" />
    <add key="baseURLWS" value="http://192.168.100.31/premierws/api/data/"/>
  </appSettings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\Temp\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms name=".PremierCookie" loginUrl="/Account/Login" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSAgentSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WSAgentSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://trackmyroi.com/smsblast/WSAgent.asmx" binding="basicHttpBinding" bindingConfiguration="WSAgentSoap" contract="SMSService.WSAgentSoap" name="WSAgentSoap" />
      <endpoint address="http://trackmyroi.com/smsblast/WSAgent.asmx" binding="customBinding" bindingConfiguration="WSAgentSoap12" contract="SMSService.WSAgentSoap" name="WSAgentSoap12" />
    </client>
  </system.serviceModel>
</configuration>