@{
	ViewBag.Title = "Bank Account";
}

<div class="clearfix p+">
    <button class="btn btn-primary">Validate</button>
</div>

<div class="row ph+">
    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold">Bank Name</label>
            <input type="text" class="form-control" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold">Bank Routing Number</label>
            <input type="text" class="form-control" placeholder="Client Bank Routing Number" />
        </div>
    </div>
</div>

<div class="row ph+">
    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold">Bank Account Number</label>
            <input type="text" class="form-control" placeholder="Client Bank Account Number" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold">Bank Account Type</label>
            <select class="form-control">
				<option>Select One</option>
                <option>Checking</option>
                <option>Savings</option>
            </select>
        </div>
    </div>
</div>

<div class="row ph+">
    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold">Bank Account Owner</label>
            <select class="form-control">
                <option>Client owns account</option>                
            </select>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold">Name Account Owner</label>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>

<div class="row ph+">
    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold">SSN Account Owner</label>
            <input type="text" class="form-control" placeholder="SSN Number" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold">Email Account Owner</label>
            <input type="email" placeholder="Email Address" class="form-control" />
        </div>
    </div>
</div>

<div class="row ph+">
    <div class="col-md-12">
        <label class="label-bold">Address Account Owner</label>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold sr-only">Street Address</label>
            <input type="text" class="form-control" placeholder="Street Address" />
        </div>
        <div class="form-group">
            <label class="label-bold sr-only">City</label>
            <input type="text" class="form-control" placeholder="City" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group form-inline">
            <label class="label-bold sr-only">Zip</label>
            <input type="text" placeholder="Zip" class="form-control" />
        </div>
		<div class="form-group form-inline">
			<label class="label-bold sr-only">State</label>
			@Html.DropDownList("state", ViewBag.States as SelectList, new { @class = "form-control" })
		</div>
    </div>
</div>