
<div class="p+ clearfix">
    <button class="btn btn-primary text-uppercase">save</button>
    <button class="btn btn-link text-capitalize">view history</button>
</div>


<div class="row p+">
    <!-- phone -->
    <div class="col-md-6">
        <label class="label-bold">Phone</label>
        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only">Home Phone</label>
                <input type="text" class="form-control" placeholder="Home Phone" />
            </div>
            <div class="form-group">
                <label class="sr-only">Preferred</label>
                <div class="radio">
                    <label>
                        <input type="radio" aria-label="preferred home phone" />
                    </label>
                </div>
            </div>
        </div>

        <div class="form-inline mv">
            <div class="form-group">
                <label class="sr-only">Work Phone</label>
                <input type="text" class="form-control" placeholder="Work Phone" />
            </div>
            <div class="form-group">
                <label class="sr-only">Preferred</label>
                <div class="radio">
                    <label>
                        <input type="radio" aria-label="preferred work phone" />
                    </label>
                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only">Mobile Phone</label>
                <input type="text" class="form-control" placeholder="Mobile Phone" />
            </div>
            <div class="form-group">
                <label class="sr-only">Preferred</label>
                <div class="radio">
                    <label>
                        <input type="radio" aria-label="preferred mobile phone" />
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- email -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold">Email</label>
            <input type="email" class="form-control" placeholder="Email Address" />
        </div>

        <div class="form-group">
            <label class="label-bold">Best Time to Contact</label>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>

<div class="row p+">
    <!-- address1 -->
    <div class="col-md-6">
        <div class="form-group">
            <label class="label-bold">Address</label>
            <input type="text" placeholder="Street Address" class="form-control" />
        </div>
        <div class="form-group">
            <label class="sr-only">City</label>
            <input type="text" placeholder="City" class="form-control" />
        </div>
    </div>

    <!-- address1 -->
    <div class="col-md-6">
        <div class="form-group mt+">
            <label class="sr-only">Zip</label>
            <input type="text" placeholder="Zip" class="form-control" />
        </div>
        <div class="form-group">
            <label class="sr-only">State</label>
            <select class="form-control">
                <option>abc</option>
                <option>abc</option>
                <option>abc</option>
                <option>abc</option>
            </select>
        </div>
    </div>
</div>