@{
	ViewBag.Title = "Contact Information";
}

<!-- Modal -->
<div class="modal fade" id="modal-update-history" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Contact Information Update History</h4>
            </div>
            <div class="modal-body">
				<p>
					*** Update by <strong>rose1 (D: Premier)</strong> [07/29/2015, 02:15 PM]<br />
					Email: allen.pham@@gmail.com
				</p>
				<div>
					=================================================================
				</div>
				<p>
					*** Update by <strong>Client</strong> [07/29/2015, 02:15 PM]<br />
					Work Phone: 678-678-6789
				</p>
				<div>
					=================================================================
				</div>
				<p>
					*** Update by <strong>Client</strong> [07/29/2015, 02:15 PM]<br />
					Work Phone: 678-678-6789<br />
					Preferred: Mobile Phone<br />
					Address: 25 Palatine APT 210, Irvine, CA 92614
				</p>
			</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary hidden">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- modal for validate info -->
<!-- this is just temporary, modal body should be loaded fom partial view by ajax -->
<div class="modal fade" id="modal-validate-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Validate Contact Information</h4>
			</div>
			<div class="modal-body">
				<p class="small pb">An email was sent to your email address. Please enter the validation code from your email below.</p>
				<div class="form-group">
					<label class="sr-only">validation code</label>
					<input type="text" class="form-control" placeholder="Validation Code" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-confirm" data-dismiss="modal" aria-label="Close">Confirm</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-validate-phone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Validate Contact Information</h4>
            </div>
            <div class="modal-body">
                <p class="small pb">A sms was sent to you. Please enter the validation code below.</p>
                <div class="form-group">
                    <label class="sr-only">validation code</label>
                    <input type="text" class="form-control" placeholder="Validation Code" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-confirm" data-dismiss="modal" aria-label="Close">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="p+ clearfix">
    <button class="btn btn-primary text-uppercase btn-save" data-toggle="modal" data-target="#modal-validate-contact">save</button>
	<button class="btn btn-link text-capitalize" id="btn-view-update-history" data-toggle="modal" data-target="#modal-update-history">[view history]</button>
    @*<a href='@Url.Action("LoadUpdateHistory", "Profile")' class="btn btn-link text-capitalize" id="btn-view-update-history23">View History</a>*@
</div>

<div class="row ph+ mb+">
    <!-- phone -->
    <div class="col-md-6">
        <label class="label-bold">Phone</label>
        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only">Home Phone</label>
                <input type="text" class="form-control" placeholder="Home Phone" />
            </div>
            <div class="form-group">
                <label class="sr-only">Preferred</label>
                <div class="radio">
                    <label>
                        <input type="radio" aria-label="preferred home phone" name="preferred"  /> 
                    </label> 
                </div>
            </div>
            @*<div class="form-group">
                <a href="#" data-toggle="modal" data-target="#modal-validate-phone">Validate</a>
            </div>*@
        </div>

        <div class="form-inline mv">
            <div class="form-group">
                <label class="sr-only">Work Phone</label>
                <input type="text" class="form-control" placeholder="Work Phone" />
            </div>
            <div class="form-group">
                <label class="sr-only">Preferred</label>
                <div class="radio">
                    <label>
						<input type="radio" aria-label="preferred work phone" name="preferred" /> 
                    </label>
                </div>
            </div>
            @*<div class="form-group">
                <a href="#" data-toggle="modal" data-target="#modal-validate-phone">Validate</a>
            </div>*@
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only">Mobile Phone</label>
                <input type="text" class="form-control" placeholder="Mobile Phone" value="213-393-0528" />
            </div>
            <div class="form-group">
                <label class="sr-only">Preferred</label>
                <div class="radio">
                    <label>
                        <input type="radio" aria-label="preferred mobile phone" name="preferred" checked="checked" /> Preferred
                    </label>
                </div>
            </div>
            @*<div class="form-group">
                <a href="#" data-toggle="modal" data-target="#modal-validate-phone">Validate</a>
            </div>*@
        </div>
    </div>

    <!-- email -->
    <div class="col-md-6">

        <div class="form-group">
            <label class="label-bold">Email</label>
            <input type="email" class="form-control" placeholder="Email Address" value="allen.pham@gmail.com" />
        </div>
        @*<div class="form-group">
            <a href="#" data-toggle="modal" data-target="#modal-validate-contact">Validate</a>
        </div>*@
        <div class="form-group">
            <label class="label-bold">Best Time to Contact</label>
            <input type="text" class="form-control" />
        </div>
    </div>
</div>

<div class="row ph+">

    <div class="col-md-12">
        <label class="label-bold">Address</label>
    </div>

    <!-- address1 -->
    <div class="col-md-6">
        <div class="form-group">
            <!--<label class="label-bold">Address</label>-->
            <input type="text" placeholder="Street Address" class="form-control" />
        </div>
        <div class="form-group">
            <label class="sr-only">City</label>
            <input type="text" placeholder="City" class="form-control" />
        </div>
    </div>

    <!-- address1 -->
    <div class="col-md-6">
        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only">Zip</label>
                <input type="text" placeholder="Zip" class="form-control" />
            </div>
        </div>
        <div class="form-inline mt+">
            <div class="form-group">
                <label class="sr-only">State</label>
				@Html.DropDownList("state", ViewBag.States as SelectList, new { @class="form-control"})
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
    $(document).ready(function () {

        $('#btn-view-update-history2').click(function (e) {

        	//
			// rename id for official event

        	e.preventDefault();

        	var self = $(this);
        	var modal = $('#modal-update-history');
        	var content = modal.find('.modal-body');

        	var href = self.prop('href');			

        	var req = $.ajax({ url: href });

        	req.fail(function (jqXHR, stt, err) {
        		//
				// todo: log error
        	});

        	req.done(function (resp, stt, jqXHR) {

				// todo: check error

        		console.log('response', resp);

        		$(resp).each(function (i, history) {
        			//
					// todo: append history here
        		});

				// show modal
        		modal.modal({ backdrop: 'static' });
        	});

        });

    });

    //$(".btn-confirm").click(function () {
    //    $(".btn-save").removeClass("disabled");
    //})
    </script>
<script>
    $(".menu > li").removeClass("active");
    $('#menu-info > a').addClass("active");
    $('#menu-pro').addClass("active in");

</script>
}